body {
  background-color: rgb(117, 20, 20);
}



.playlist{
 float: right;
 width: auto;  
}

/* CSS for coarousel */
.graphs {
  height: 100px;
  padding-bottom: 33.3%;
}

.chart{
  display: flex;
  margin: 50px;
  width: 50%;
  height: 200px;
  border-radius: 10px;
}


/* project info */

.info{
  display: inline-block;
  justify-content: left;
  border: solid black 2px;
  width: 200px;
  margin-left: 50px;
}

div > h1{
  font-size: x-large;

  text-align: center;
}

/* icons/ nav bar */
.icon {
 width: 25px;
 height: 25px;
}

.header {
  background: black;
  color: white;
  font-weight: bold;
}

.header a {
  display: block;
  padding: 20px;
}

.header a:hover {
  background: black;
}

.header-nav {
  width: 800px;
  margin: auto;
}

.header-nav-logo {
  float: left;
  font-weight: bold;
}

.header-nav-logo > a {
}

.header-nav-logo > a:hover {
}

.header-nav-list {
  float: right;
}

.header-nav-list > li {
  float: left;
}

