body {
  background-color: white;
  font-family: 'Major Mono Display', monospace;;
}



.playlist{
margin-top: 150px;
display: flex;

}

.player{
  width: auto;
  height: 300px;
}

/* CSS for coarousel */
.graphs {
  /* padding-bottom: 33.3%; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  border-radius: 3px;
  margin-left: 3%;
}
 
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.graph-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

.anychart-credits{
  display: none;
}

.playlist-container{
  box-shadow: 5px 20px 10px #d8d9dc;
  margin-left: 2%;
  width: 23%;
}

/* .chart{ */
  /* display: inline-block; */
  /* margin: 20px; */
  /* width: 60%;  */
  /* height: auto; */
  /* border-radius: 500px; */
  /* box-shadow: 5px 5px 20px 10px #d8d9dc;
  border-radius: 3px; */
/* } */

.custom{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 2%;
  background: none;
  box-shadow: 10px 5px 15px #37474f;
  width: 95%;
}

#custom div:first-of-type{
  box-shadow: 5px 5px 20px 10px #d8d9dc;
  border-radius: 3px;
}

/* project info */
.center{
  display: flex;
  justify-content: space-between;
  height: 450px;
}


.side-bar{ 
  display: inline-block;
  justify-content: left;
  border: solid black 2px;
  width: 20%;
  
  margin-top: 100px;
  height: auto;
  background-color: rgba(68, 61, 58, 0.211)
} 

section > h1{
  font-size: x-large;
  color: #94B0DA;
  text-align: center;
  /* font-family: 'Major Mono Display', monospace;; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section > p{
  color: #DCEDFF;
  text-indent: 10px;
  letter-spacing: 2px;
  /* font-family: 'Major Mono Display', monospace;  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  word-wrap: break-word;
}

/* icons/ nav bar */
.icon {
 width: 40px;
 height: 40px;
}

.header {
  background: #343f3e;
  color: white;
  font-weight: bold;
}

.header a {
  display: block;
  padding: 10px;
  color: white;
}

.header a:hover {
  background:cornflowerblue;
}

.header-nav {
  position: absolute;
  width: 100%;
  margin: 1% 5%;
  display: flex;
  justify-content: space-between;
}

.header-nav-logo > img  {

  width: 50px;
  height: 50px;
}

.header-nav-list {
  display: flex;
  margin-right: 6%;
  align-items: center;
  font-size: 22px;
}


.header-nav-logo {
  float: left;
}

.albums{
  display: flex; 
  justify-content: space-evenly;
  width: 550px;
  height: 100px;
  margin-left: 10%;
}
.albums > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
}
.album-cover{
  margin: 10px;
  width: 100px;
  height: 100px;
  display: inline;
}
.options{
  border: none;
  background: cornflowerblue;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 10px #d8d9dc;
  font-weight: bold;
  font-family: 'Noto Sans';
  width: 10%;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  display: flex;

}
.album-art {
  margin: 10px;
  width: 100px;
  height: 100px;
  display: inline;
  box-shadow: 9px 10px 10px 0px #605959;
}

#album-header{

}


.button{
  position: absolute;
  box-shadow: 5px 5px 20px 10px #d8d9dc;
  border-radius: 10px;
  background: #3eb2e5;
  border: none;
  color: black;
  font-weight: bold;
  margin-right: -8%;
}
tspan{
  font-size: 10px;
}
.print-options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}

.print{
  border: none;
  background: cornflowerblue;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 10px #d8d9dc;
  font-weight: bold;
  width: 10%;
  position: relative;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.attributes{
  color: #34c1ff;
  cursor: pointer;
}

.intro{
  position: relative;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 3%;
  background: black;
  border-radius: 14px;
  color: white;
  box-shadow: 9px 10px 10px 0px #605959;
  width: 65%;
  text-indent: 10px;
  font-family: 'Noto Sans';
}

.directions{
  font-size: 30px;
  /* margin-bottom: 3%; */
  background:black;
  border-radius: 14px;
  color: white;
  box-shadow: 9px 10px 10px 0px #605959;
  width: 70%;
  text-indent: 10px;
  margin: 0 auto;
  margin-top: 10%;
  font-family: 'Noto Sans';
  padding: 10px; 
}

div p{
  margin: 10px 10px; 
}

.hidden-info{
 
  display: hidden;
}

.hidden-info:hover{
  display: inline-block;
  border: solid #dcedff 3px;
  z-index: 10;
  position: absolute;
  background: black;
  border-radius: 7px;
}

.orange{
  width: 200px;
  height: 200px;
  border: solid 5px orange; 
}

.notes{
  display: flex;
  flex-direction: column;
  margin-top: 35%;
  margin-right: -25%
}

.notes-functions{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(1, 25, 52, 0.9);
  z-index: 10;
  overflow: scroll; 
}

.paragraphs{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.whole-page{

   height: 1000px;


}
.whole-page::before{
  content: '';
  /* height: 944px; */
  /* background-image: url(/Users/oscarpalacios/Desktop/AppAca/newProject/src/albumpics/freeNationals.png); */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.welcome{
  font-family: 'Noto Sans', sans-serif;
  font-size: 5em;
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: cornflowerblue;
  font-weight: 900;
  -webkit-text-stroke: thick;
  font-style: italic;
}
.welcome-about{
  font-family: 'Noto Sans', sans-serif;
  font-size: 2em;
  position: absolute;
  top: 55%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: cornflowerblue;
}

a{
  text-decoration: none;
}

.whole-page::before{
  background-position: center center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 200s ease-in-out infinite 0s;
  animation-timing-function: ease-in-out;
  background-image: url(src/albumpics/ChicanoBatman.png);
  opacity: 0.75;
}
@keyframes slideBg {
  0% {
    background-image: url(src/albumpics/Freddie.png);
  }
  14% {
    background-image: url(src/albumpics/freeNationals.png);
  }

  42% {
    background-image: url(src/albumpics/lordEcho.png);
  }
  56%{
    background-image: url(src/albumpics/Marias.png);
  }
  70%{
    background-image: url(src/albumpics/IsiahRashad.png);
  }
  84% {
    background-image: url(src/albumpics/porter.png);
  }
  100% {
    background-image: url(src/albumpics/ChicanoBatman.png);
  }
}

.popup{
  display: flex;
  justify-content: space-evenly;
  background-color: cornflowerblue;
  font-family: 'Noto Sans';
  border-radius: 14px;
  box-shadow: 9px 10px 10px 0px #605959;
  height: 410px;
  width: 325px;
  padding: 10px;
}

.overlaybox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
  color: black;
  border-radius: 14px;
  padding: 10px;
}
.dir-text{
  color: #34c1ff;
}