body {
  background-color: white;
  font-family: 'Major Mono Display', monospace;;
}



.playlist{
 /* margin-left: 50px; */
margin-top: 150px;
display: flex;
/* justify-content: space-between; */
margin-bottom: 50px;

}

.player{
  width: auto;
  height: 300px;
}

/* CSS for coarousel */
.graphs {
  /* padding-bottom: 33.3%; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  border-radius: 3px;
  margin-left: 3%;
}
 
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.graph-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  width: 65%;
  position: absolute;
  top: 1%;
}

.anychart-credits{
  display: none;
}

.playlist-container{
  box-shadow: 5px 20px 10px #d8d9dc;
  margin-top: 20%;
  position: fixed;
  left: 3%;
}

.chart{
  /* display: inline-block; */
  /* margin: 20px; */
  /* width: 60%;  */
  /* height: auto; */
  /* border-radius: 500px; */
  /* box-shadow: 5px 5px 20px 10px #d8d9dc;
  border-radius: 3px; */
}

.custom{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 2%;
  background: none;
  box-shadow: 10px 5px 15px #37474f;
  width: 95%;
}

#custom div:first-of-type{
  box-shadow: 5px 5px 20px 10px #d8d9dc;
  border-radius: 3px;
}

/* project info */
.center{
  display: flex;
  justify-content: space-between;
  height: 450px;
}


.side-bar{ 
  display: inline-block;
  justify-content: left;
  border: solid black 2px;
  width: 20%;
  
  margin-top: 100px;
  height: auto;
  background-color: rgba(68, 61, 58, 0.211)
} 

section > h1{
  font-size: x-large;
  color: #94B0DA;
  text-align: center;
  /* font-family: 'Major Mono Display', monospace;; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section > p{
  color: #DCEDFF;
  text-indent: 10px;
  letter-spacing: 2px;
  /* font-family: 'Major Mono Display', monospace;  */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  word-wrap: break-word;
}

/* icons/ nav bar */
.icon {
 width: 25px;
 height: 25px;
}

.header {
  background: #343f3e;
  color: white;
  font-weight: bold;
}

.header a {
  display: block;
  padding: 10px;
  color: white;
}

.header a:hover {
  background: black;
}

.header-nav {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.header-nav-logo > img  {

  width: 50px;
  height: 50px;
}

.header-nav-list {
  display: flex;
}


.header-nav-logo {
  float: left;
}

.albums{
  display: flex; 
  justify-content: space-evenly;
  width: 550px;
  height: 100px;
  margin-left: 10%;
}
.albums > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
}
.album-cover{
  margin: 10px;
  width: 100px;
  height: 100px;
  display: inline;
}
.options{
  margin-left: 4%;
  border: none;
  background: cornflowerblue;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 10px #d8d9dc;
  font-weight: bold;
  width: 10%;
  font-size: 16px;
  display: flex;
  position: fixed;
  left: 85%;
  top: 20%;
}
.album-art {
  margin: 10px;
  width: 100px;
  height: 100px;
  display: inline;
}

.button{
  position: absolute;
  margin-right: -7%;
  box-shadow: 5px 5px 20px 10px #d8d9dc;
  border-radius: 10px;
  background: #3eb2e5;
  border: none;
  color: black;
  font-weight: bold;
  margin-right: -10%;
}
tspan{
  font-size: 10px;
}